
@{
    ViewBag.Title = "Sauna";
}

<h2>Sauna</h2>

@*saunan tilan listaaminen tietokannasta*@
@*JavaScriptillä JSON-kutsu palvelimelle*@

@section scripts {
    <script type="text/javascript">
        (function päivitäSaunalistaus() {
            $.getJSON("/Sauna/SaunanTila", null, function (json) {
                var saunanTila = JSON.parse(json);
                //alert("saunan tila: " + saunanTila.length);

                var html = "";

                for (var index = 0; index < saunanTila.length; index++) {
                    //alert("lämpötilatila on: " + saunanTila[index].SaunanLampotila);
                    html +=
                        "<tr>" +
                        "<td>" + saunanTila[index].SaunaID + "</td>" +
                        "<td>" + saunanTila[index].SaunanTila + "</td>" +
                        "<td>" + saunanTila[index].SaunanLampotila + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
                        "</tr>\r\n";
                }
                //viittaus id="saunaTaulukko" ja tbody-osioon taulukossa(eli mihin data sijoitetaan)
                $('#saunaTaulukko tbody').html(html);

                //saunan tietojen muokkaus
                $(".glyphicon-pencil").click(function () {
                    //saunan tietojen etsiminen klikatulta riviltä
                    var saunaID = $(this).parent().parent().prev().prev().prev().text();
                    alert(saunaID);

                    //haetaan saunan tiedot ID:n perusteella
                    $.getJSON("/Sauna/HaeSauna/" + saunaID, null, function (json2) {
                        var sauna = JSON.parse(json2);

                        //tietojen kopiointi modaali-ikkunaan
                        $("#SaunaIDModal").val(sauna.SaunaID);
                        $("#SaunanTilaModal").val(sauna.SaunanTila);
                        $("#SaunanLampotilaModal").val(sauna.SaunanLampotila);

                        //modaali-ikkunan näyttäminen
                        $("#SaunaModalTitle").text("Sauna");
                        $("#myModal").modal("show");
                    });
                });
            });
        }

        //sivun alustaminen, mitä tehdään kun sivusto aukeaa
        $(function () {
            päivitäSaunalistaus();

            $("#saunaModalTallenna").click(function () {
                // luetaan käyttäjän syöttämät kentät
                var details = {
                    SaunaID: $("#SaunaIDModal").val(),
                    SaunanTila: $("#SaunanTilaModal").val(),
                    SaunanLampotila: $("#SaunanLampotilaModal").val()
                };
                //tietojen päivitys ja uusien tietojen lisäys
                $.post("/Sauna/update/", details, function (status) {
                    if (status == true) {
                        alert("Uudet tiedot tallennettu!");
                        $("#myModal").modal("hide");
                        päivitäSaunalistaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, kokeile uudestaan.");
                    }
                });
            });
        });
    </script>
}


@*taulukon sarakeotsikot*@
<table class="table table-striped" id="saunaTaulukko">
    <thead>
        <tr>
            <th>Sauna</th>
            <th>Saunan tila</th>
            <th>Saunan lämpötila</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@*<button type="button" id="muokkaa" class="btn btn-primary btn-lg" data-toggle="modal"
        data-target="#myModal">
    Muokkaa saunan asetuksia
</button>*@
@*modaali-ikkunan määritys*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span id="SaunaModalTitle">Sauna</span></h4>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Sauna</div>
                    <div class="col-md-6"><input class="form-control" id="SaunaIDModal" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Saunan tila</div>
                    <div class="col-md-6"><input class="form-control" id="SaunanTilaModal" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Saunan lämpötila</div>
                    <div class="col-md-6"><input class="form-control" id="SaunanLampotilaModal" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Sulje
                </button>
                <button type="button" class="btn btn-primary" id="saunaModalTallenna">
                    Tallenna muutokset
                </button>

            </div>

        </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
